EXPO_PUBLIC_SUPABASE_URL=yjdbmnkcjiqxcpnoovhz
EXPO_PUBLIC_SUPABASE_KEY=
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqZGJtbmtjamlxeGNwbm9vdmh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwNzQ1ODEsImV4cCI6MjEwNjY1MDU4MX0.MpWeX1Qc8zs8VFdu0HXLhubSDEkOLsqjYF4kpPQQeuA